@import '../../../../assets/styles/variables.scss';
:host {
  display: block;
  width: 100%;
  height: 70vh;
  overflow: auto;
}

tr {
  cursor: pointer;

  &:hover {
    background-color: $grey-bg;
  }
}
