@import '../../../../../assets/styles/mixins.scss';
@import '../../../../../assets/styles/variables.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
}
main {
  @include flex;
  align-items: flex-start;

  section {
    padding: 16px;
    width: 100%;
    height: 100%;
  }
}
