<form [formGroup]="form">
  <app-input
    formControlName="firstName"
    [placeholder]="'PLACEHOLDERS.FIRST_NAME' | translate"
  ></app-input>
  <app-input
    formControlName="lastName"
    [placeholder]="'PLACEHOLDERS.LAST_NAME' | translate"
  ></app-input>
  <app-input
    formControlName="email"
    [placeholder]="'PLACEHOLDERS.EMAIL' | translate"
  ></app-input>
  <app-input
    formControlName="specialization"
    [placeholder]="'PLACEHOLDERS.SPECIALIZATION' | translate"
  ></app-input>
  <app-input
    formControlName="department"
    [placeholder]="'PLACEHOLDERS.DEPARTMENT' | translate"
  ></app-input>
</form>
