<main>
  <div>
    <img
      src="../../../../../assets/images/logo.svg"
      alt="Logo"
    />
    <img
      src="../../../../../assets/images/Internship.svg"
      alt="Logo"
    />
  </div>

  <form [formGroup]="authForm">
    <app-input
      formControlName="email"
      placeholder="username"
      class="email-input"
    >
    </app-input>
    <app-input
      formControlName="password"
      placeholder="password"
      type="password"
      class="password-input"
    >
    </app-input>
    <p-button
      class="login"
      label="Log in"
      (click)="login()"
    >
    </p-button>
  </form>
  <p
    *ngIf="error"
    class="p-error"
  >
    {{ error }}
  </p>
</main>
