<main>
  <div>
    <img
      src="../../../../../assets/images/logo.svg"
      alt="Logo"
    />
    <img
      src="../../../../../assets/images/Internship.svg"
      alt="Logo"
    />
  </div>
  <form [formGroup]="authForm">
    <app-input
      formControlName="username"
      placeholder="username"
    >
    </app-input>
    <app-input
      formControlName="password"
      placeholder="password"
      type="password"
    >
    </app-input>
    <p-button
      label="Log in"
      routerLink="/"
      styleClass=".login-btn"
    >
    </p-button>
    <p>{{ authForm.value | json }}</p>
  </form>
</main>
