<form [formGroup]="formGroup">
  <div>
    <app-input
      formControlName="projectName"
      [placeholder]="'PLACEHOLDERS.PROJECT_NAME' | translate"
    ></app-input>
    <app-datepicker
      formControlName="startDate"
      [placeholder]="'PLACEHOLDERS.START_DATE' | translate"
    ></app-datepicker>
    <app-datepicker
      formControlName="endDate"
      [placeholder]="'PLACEHOLDERS.END_DATE' | translate"
    ></app-datepicker>
  </div>
  <div>
    <app-input
      type="number"
      formControlName="teamSize"
      [placeholder]="'PLACEHOLDERS.TEAM_SIZE' | translate"
    ></app-input>
    <app-chips
      formControlName="techStack"
      [placeholder]="'PLACEHOLDERS.TECH_STACK' | translate"
    ></app-chips>
    <app-chips
      formControlName="teamRoles"
      [placeholder]="'PLACEHOLDERS.ROLES' | translate"
    ></app-chips>
  </div>
  <div>
    <app-textarea
      formControlName="description"
      [placeholder]="'PLACEHOLDERS.DESCRIPTION' | translate"
    ></app-textarea>
    <app-chips
      formControlName="responsibilities"
      [placeholder]="'PLACEHOLDERS.RESPONSIBILITIES' | translate"
    ></app-chips>
  </div>
</form>
