<nav [ngClass]="{ 'opened': isOpened, 'closed': !isOpened }">
  <a
    routerLink="/employees"
    routerLinkActive="active"
  >
    <i class="pi pi-user"></i>
    <ng-template [ngIf]="isOpened">
      {{ 'SIDEBAR.EMPLOYEES' | translate }}
    </ng-template>
  </a>
  <a
    routerLink="/projects"
    routerLinkActive="active"
  >
    <i class="pi pi-briefcase"></i>
    {{ 'SIDEBAR.PROJECTS' | translate }}
    <ng-template [ngIf]="isOpened"></ng-template>
  </a>
  <button (click)="toggleSidebar()">
    <span
      *ngIf="!isOpened"
      class="pi pi-angle-double-right"
    ></span>
    <span
      *ngIf="isOpened"
      class="pi pi-angle-double-left"
    ></span>
  </button>
</nav>
