@import '../../../../../assets/styles/variables.scss';

a {
  text-decoration: none;
  color: $grey;
  text-transform: lowercase;

  &:after {
    content: '/';
    color: $black;
  }

  &:hover:not(:last-child) {
    color: $blue;
  }

  &:last-child {
    color: $black;
    cursor: default;
    pointer-events: none;
  }
}
